export(continuous_entropy)
export(discrete_entropy)
export(ForeCA.EM)
export(ForeCA.EM.E_step)
export(ForeCA.EM.h)
export(ForeCA.EM.M_step)
export(ForeCA.EM.one_weightvector)
export(mvspectrum)
export(mvspectrum2wcov)
export(normalize_mvspectrum)
export(Omega)
export(prewhiten)
export(quadratic_form)
export(spectral_entropy)
S3method(biplot,ForeCA)
S3method(plot,ForeCA)
S3method(plot,ForeCA.EM.one_weightvector)
S3method(summary,ForeCA)
