export(continuous_entropy)
export(discrete_entropy)
export(foreca)
export(foreca.EM)
export(foreca.EM.E_step)
export(foreca.EM.h)
export(foreca.EM.M_step)
export(foreca.EM.opt_comp)
export(mvspectrum)
export(mvspectrum2wcov)
export(normalize_mvspectrum)
export(Omega)
export(quadratic_form)
export(spectral_entropy)
export(whiten)
S3method(biplot,foreca)
S3method(plot,foreca)
S3method(plot,foreca.EM.opt_comp)
S3method(summary,foreca)
