S3method(biplot,foreca)
S3method(plot,foreca)
S3method(plot,foreca.EM.opt_weightvector)
S3method(summary,foreca)
export(Omega)
export(SDF2mvspectrum)
export(continuous_entropy)
export(discrete_entropy)
export(foreca)
export(foreca.EM)
export(foreca.EM.E_step)
export(foreca.EM.M_step)
export(foreca.EM.h)
export(foreca.EM.opt_weightvector)
export(initialize_weightvector)
export(mvspec2mvspectrum)
export(mvspectrum)
export(mvspectrum2wcov)
export(normalize_mvspectrum)
export(quadratic_form)
export(spectral_entropy)
export(whiten)
import(nlme)
import(splus2R)
importFrom(ifultools,checkScalarType)
importFrom(mgcv,gam)
importFrom(sapa,SDF)
